.container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;

  &__product-details {
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      justify-content: center;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

    }
  }

  &__reference-instrumentation {
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      justify-content: center;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

    }
  }

  &__environment-conditions {
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      justify-content: center;
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;

    }
  }

  &__temperature-validation {
    background-color: yellow;
  }
}
