.drawer {
  height: 100%;

  &__side_nav {
    background-color: #4954d0;
    width: 200px;


    &__items {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      margin-top: 50px;


      &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
      }
    }
  }
}
.navigation {
  display: flex;

  &__title {
    flex: 1;
    text-align: center;
    align-self: center;
    margin-top: 20px;
  }

  &__menu {
    margin-left: auto;
    align-self: flex-end;
    color: white;

    &__settings_button {
      color: white;
    }
  }
}


.content {
  margin: 30px;
  padding: 20px;
  &__batch {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      &__header {
          margin: 0 auto;

        &__title {
          font-weight: bold;
        }
      }
      &__form {
        display: flex;

        &__submit {
          display: flex;
          justify-content: center;
        }

        &__input {
          display: flex;
          justify-content: space-evenly;
          margin: 10px 0;
        }

        &__uploads {
          display: flex;
          justify-content: space-evenly;
          margin: 10px 0;

          &__container {
            display: flex;
            flex-direction: column;
            margin: 10px;
          }

          &__button {
            margin: 10px;
          }
        }


      }
  }
}

mat-divider{
  border-top-color: white;
}

