<input type="file" hidden (change)="uploadFiles($event)" #upload/>
<button
  (click)="upload.click()"
  mat-flat-button
  [color]="'primary'">
  <span class="ml-2 mr-5">Upload file</span>
</button>
<button (click)="generateCertificate()">Download</button>

@for(test of names; track test.id) {

  @if(showAll) {
    <div class="container" #dataToExport>
      <div class="certificate-title">
        <h1>Calibration Certificate</h1>
      </div>
      <div>
        <mat-card class="card">
          <mat-card-content class="certificate-details">
            <p>Certificate No: - </p>
            <p>Date: - </p>
            <p>Page: - </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="card">
          <mat-card-title>
            <h4>Product Details</h4>
          </mat-card-title>
          <mat-card-content class="certificate-details">
            <div class="">
              <p>Instrument: - <b>{{ test.name }}</b> </p>
              <p>Serial No: - <b>DS27655-01</b></p>
              <p>Type: - <b>Temperature</b></p>
            </div>
            <div class="">
              <p>Model: - <b>MR5458</b></p>
              <p>Resolution: - <b>0.10</b></p>
              <p>Range: - <b>-30°C to +70 °C</b></p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="card">
          <mat-card-title>
            <h4>Reference Instrumentation</h4>
          </mat-card-title>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="setPoints">
                <th mat-header-cell *matHeaderCellDef>Set Points</th>
                <td mat-cell *matCellDef="let element"> {{element.setPoints}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="deviation">
                <th mat-header-cell *matHeaderCellDef> Deviation </th>
                <td mat-cell *matCellDef="let element"> {{element.deviation}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="uncertainty">
                <th mat-header-cell *matHeaderCellDef> Uncertainty </th>
                <td mat-cell *matCellDef="let element"> {{element.uncertainty}} </td>
              </ng-container>

              <!-- Symbol Column -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <p class="card">
          All reference instruments are frequently calibrated by ISO 17025 2017
          certified laboratories. The calibration of the reference instruments
          are valid for one year.
        </p>
      </div>
      <div>
        <mat-card class="card">
          <mat-card-title>
            <h4>Environment Conditions</h4>
          </mat-card-title>
          <mat-card-content class="environment-details">
            <div class="environment-details__temp_and_humidity">
              <p>Air Temperature: - </p>
              <p>25.5 oC</p>
              <p>Humidity: - </p>
              <p>50%</p>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="setPoints">
                <th mat-header-cell *matHeaderCellDef>Set Points</th>
                <td mat-cell *matCellDef="let element"> {{element.setPoints}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="deviation">
                <th mat-header-cell *matHeaderCellDef> Deviation </th>
                <td mat-cell *matCellDef="let element"> {{element.deviation}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="uncertainty">
                <th mat-header-cell *matHeaderCellDef> Uncertainty </th>
                <td mat-cell *matCellDef="let element"> {{element.uncertainty}} </td>
              </ng-container>

              <!-- Symbol Column -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="card">
        <p>
          This calibration certificate was automatically generated and is valid
          without signature for two years.
        </p>
      </div>
      <div class="card">
        <p>
          Inspector: -  <b>Kaushik Karandikar</b>
        </p>
      </div>
      <div class="card">
        <p>
          The calibration certificate is generated from batch validation and calibration performed at ISO 17025 2017
          certified Calibration laboratory with the traceability to the same standards.
        </p>
      </div>
      <div class="card">
        <p>
          Email: =
        </p>
        <p>
          Website: -
        </p>
      </div>
    </div>
  }

}







<!--<router-outlet />-->
