.card {
  margin: 20px;
  padding: 20px;
  border-radius: 0;

}

.certificate-title {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0;
}

.certificate-details {
  display: flex;
  justify-content: space-between;
}

.environment-details {
  display: grid;
  grid-template-columns: 1fr 2fr;

  &__temp_and_humidity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.certificate-title {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}
