<div class="login_form">
  <!-- Login form container -->
  <form [formGroup]="authForm" (ngSubmit)="login()">
    <h3>Log in with</h3>
    <!-- Email input box -->
    <div class="input_box">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter email address" required formControlName="email" />
    </div>

    <!-- Paswwrod input box -->
    <div class="input_box">
      <div class="password_title">
        <label for="password">Password</label>
      </div>

      <input type="password" id="password" placeholder="Enter your password" required formControlName="password" (keyup.enter)="login()"  />
    </div>

    <!-- Login button -->
    <button type="submit">Log In</button>

  </form>
</div>
